Binaries/
Intermediate/
Saved/
DerivedDataCache/
Releases/
Content/Paks/
Content/Thunder/Level/Thunder/Thunder_Master_BuiltData.uasset
BuiltData.uasset
Content/PlaneContents/Level/Plane_BuiltData.uasset
Content/PlaneContents/Level/Plane_Flight_BuiltData.uasset
Content/PlaneContents/Level/Plane_Master_BuiltData.uasset
.vs/NaReRu/v16/Browse.VC.db
.vs/NaReRu/v16/ipch/AutoPCH/9a2f64fd9ba9f567/LOGIN.ipch
.vs/NaReRu/v16/ipch/AutoPCH/7eeb9c96f5ca75c0/LOGIN.ipch
.vs/NaReRu/v16/Browse.VC.opendb
.vs/NaReRu/v16/Solution.VC.db
